<launch>

    <!-- 负责进行检测的节点 -->
    <node pkg="detection" type="node_detection.py" name="node_detection" output="screen" required="true" >
        <!-- 节点私有参数 -->
        <param name="model_path" value="/home/ryan/Codes/pythonProject/grasping-repo/paper_grasp_project/light_detection/state_dicts/model.pth"/>
        <!-- 相机内参 -->
        <param name="intrinsics/fx" type="double" value="607.239501953125" />
        <param name="intrinsics/fy" type="double" value="607.239501953125" />
        <param name="intrinsics/cx" type="double" value="327.332" />
        <param name="intrinsics/cy" type="double" value="243.108" />
        <!-- TODO fov的值待确认 -->
        <param name="intrinsics/fov" type="double" value="68" />
    </node>

    <!-- realsense相机节点 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="device_type" value="d435"/>
        <arg name="align_depth" value="true"/>

        <arg name="depth_width" value="640"/>
        <arg name="depth_height" value="480"/>
        
        <arg name="color_width" value="640"/>
        <arg name="color_height" value="480"/>
        
        <arg name="enable_pointcloud" value="true"/>
    </include>

    <!-- 眼在手上的外参标定结果 -->
    <arg name="rx" value="358.786"/>
    <arg name="ry" value="1.44065"/>
    <arg name="rz" value="88.787"/>

    <!-- TF发布：发布相机的外参：这里用的是眼在手上，所以发布相机和机械臂工具末端静态的变换关系 -->
    <!-- 旋转角度参数为：yaw pitch roll -->
    <!-- yaw is rotation about z-axis, pitch is rotation about y-axis, roll is rotation about x-axis -->
    <!-- <node name="camera_extrinsic_publisher" pkg="tf" type="static_transform_publisher"  output="screen" respawn="true" args="-0.24792 -0.0346583 0.127258 ${rz/57.29} ${ry/57.29} ${rx/57.29} grasping_frame camera_link 20" /> -->
    <node name="camera_extrinsic_publisher" pkg="tf" type="static_transform_publisher"  output="screen" respawn="true" args="-0.24792 -0.0346583 0.127258 ${rz/57.29} ${ry/57.29} ${rx/57.29} grasping_frame camera_link 20" />

</launch>